<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin/alayout}">
<head>
    <meta charset="UTF-8">
    <title>Group3CS490PM</title>
</head>
<body>
<div layout:fragment="admin-main-content">
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>List of new reviews</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Buyer</th>
                        <th>OrderDate</th>
                        <th>Vendor</th>
                        <th>Tax</th>
                        <th>ShippingFee</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Vendor</th>
                        <th>Command</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.orderno}">No</td>
                        <td th:text="${order.customer.userName}">Buyer</td>
                        <td th:text="${order.dateCreate}">OrderDate</td>
                        <td th:text="${order.vendor.email}">Email</td>
                        <td th:text="${order.tax}">Tax</td>
                        <td th:text="${order.shippingFee}">ShippingFee</td>
                        <td th:text="${order.total}">Total</td>
                        <td th:text="${order.status}">Status</td>
                        <td th:text="${order.vendor.userName}">Vendor</td>
                        <td>
                            <form th:id="${order.id}" th:action="@{'/admin/changeStatus'}" method="post">
                                <input th:id="${order.id+'_order'}" name="id" th:value="${order.id}" type="hidden">
                                <select name="status" th:id="${order.id+'_select'}">
                                    <option value="NEW" th:text="New" th:selected="${order.sStatus=='NEW'}"></option>
                                    <option value="RECEIVED" th:text="Receive" th:selected="${order.sStatus=='RECEIVED'}"></option>
                                    <option value="SHIPPED" th:text="Shipped" th:selected="${order.sStatus=='SHIPPED'}"></option>
                                    <option value="ON_THE_WAY" th:text="OnTheWay" th:selected="${order.sStatus=='ON_THE_WAY'}"></option>
                                    <option value="DELIVERED" th:text="Delivered" th:selected="${order.sStatus=='DELIVERED'}"></option>
                                    <option value="CANCELLED" th:text="Cancel" th:selected="${order.sStatus=='CANCELLED'}"></option>
                                    <option value="DELETED" th:text="Delete" th:selected="${order.sStatus=='DELETED'}"></option>

                                </select>
                                <input th:id="${order.id+'_submit'}" type="submit" value="update" />
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
