<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/user/ulayout}">
<head>
    <meta charset="UTF-8">
    <title>Payment Method</title>
    <style>
        .error {
            color: red;
        }
    </style>
<body>
<div layout:fragment="user-main-content">
    <h3>
        Your payment is successful received.
        <div>
            Thank you!
        </div>

    </h3>
</div>
</div>

</body>
</html>

