<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/user/ulayout}">
<head>
    <meta charset="UTF-8">
    <title>Payment Method</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="user-main-content">
    <form action="#" th:action="@{/payment}" th:object="${payment}" method="post">
        <h2>Payment Method</h2>
        <div>
            <label> Choose card type: </label>
            <div>
                <label for="Visa">Visa</label>
                <input type="radio" id="Visa" th:field="*{type}"th:value="Visa" checked>
            </div>
            <div>
                <label for="Master">Master</label>
                <input type="radio" id="Master" th:field="*{type}"th:value="Master" checked>
            </div>
        </div>
        <div>
            <label for="cardName">Name On Card</label>
            <input th:field="*{nameOnCard}" placeholder="Enter the name on card"
                   id="cardName">
            <p th:errors="*{nameOnCard}"></p>
        </div>
        <div>
            <label for="cardNumber">Card Number</label>
            <input th:field="*{cardNumber}" id="cardNumber" placeholder="0000 0000 0000 0000 ">
            <p th:errors="*{cardNumber}"></p>
        </div>
        <div>
            <label for="cardExpiry">Card Expiry</label>
            <input th:field="*{experienceDate}"  id="cardExpiry" placeholder="MM/DD/YYYY" type="text">
            <p th:errors="*{experienceDate}"></p>
        </div>
        <div>
            <label for="CVV">CVV</label>
            <input th:field="*{cvs}" id="CVV" placeholder="000"/>
            <p th:errors="*{cvs}"></p>
        </div>

        <!--        Shipping Address-->

        <!--        -->


        <div>
            <button type="submit">Submit</button>
        </div>
    </form>


</div>
</body>
</html>